.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img {
  height: 100%;
  width: auto;
}
label {
  width: 320px;
  padding-bottom: 2rem;
}
input {
  width: 320px;
  height: 44px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  border: 1px solid #1a2151;
  border-radius: 10px;
}
button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 320px;
  height: 43px;
  left: 0px;
  top: 0px;
  background: #00cffd;
  border-radius: 22px;
  justify-content: center;
  align-items: center;
}
.container {
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.01);
  backdrop-filter: blur(250px);
  display: flex;
  justify-content: center;
  align-items: center;
}
